.add-product-container {
    background-color: #0033cc; /* Azul escuro */
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .add-product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cancel-button,
  .save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: #cc0000; /* Vermelho */
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button:hover {
    background-color: #ff3333;
  }
  
  .save-button {
    background-color: #008000; /* Verde */
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .save-button:hover {
    background-color: #00b300;
  }

  .notification-message {
    background-color: #28a745; /* Verde para sucesso */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .notification-error {
    background-color: #dc3545; /* Vermelho para erro */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }
    